@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@theme {
  --color-brand-red: #ac2422;
  --color-brand-gold: #dfb15b;
  --color-brand-gold-muted: #a0814c;
  --color-brand-dark: #13100e;
  --color-brand-cream: #fbf8f0;
  --color-brand-charcoal: #0a0807;
  --color-brand-brown: #1c1714;
  --color-brand-gray: #7d726c;
  
  --font-body: "Google Sans", sans-serif;
  --font-heading: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
  /* --font-sans: "Plus Jakarta Sans", "Inter", sans-serif;
  --font-heading: "Roboto Slab", serif; */
}

/* Custom gorgeous scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0807;
}
::-webkit-scrollbar-thumb {
  background: #dfb15b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ac2422;
}

html {
  scroll-behavior: smooth;
  background-color: #0a0807;
  color: #fbf8f0;
}

body {
  font-family: var(--font-body);
  user-select: auto !important;
}

/* Smooth motion card animations */
.glow-on-hover {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.glow-on-hover:hover {
  box-shadow: 0 0 15px rgba(229, 145, 21, 0.2);
  border-color: rgba(229, 145, 21, 0.4);
}
